/*====================================== 
            Global
======================================*/
* {
  box-sizing: border-box;
}
/* #wrapper {
  width: 90%;
  margin: 0 auto;
} */
body {
  /* background-color: lightcoral; */
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/*====================================== 
            HEADER
======================================*/
#main-header {
  background-color: cadetblue;
  height: 100px;
}
#logo {
  height: 100%;
  width: 25%;
  border: 1px dashed darkcyan;
  text-align: center;
}
/*====================================== 
            MAIN NAV
======================================*/
#main-nav {
  /* height: 70px; */
  background-color: darkcyan;
}
#main-nav > ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#main-nav > ul a {
  text-decoration: none;
  display: block;
  padding: 15px;
  color: black;
  font-size: 20px;
}
#main-nav > ul a:hover {
  color: white;
  background-color: rgb(18, 60, 60);
}
#main-nav > ul a:active {
  color: rgb(212, 18, 18);
}
#main-nav li {
  width: 20%;
  text-align: center;
}
ul {
  display: flex;
  flex-direction: row;
}
.active-page {
  background-color: rgb(187, 201, 58);
  color: white;
}
/*====================================== 
            MAIN
======================================*/
main {
  background-color: azure;
  height: 600px;
}
#main-top {
  height: 50%;
  /* padding: 15px; */
  display: flex;
  flex-direction: row;
}
#main-bottom {
  height: 50%;
  padding: 15px;
}
#top-left {
  height: 100%;
  width: 50%;
  background-color: chartreuse;
}
#top-right {
  height: 100%;
  width: 50%;
  background-color: orange;
}
/*====================================== 
            MAIN FOOTER
======================================*/
#main-footer {
  background-color: cadetblue;
  height: 100px;
}
/*====================================== 
            Page 3
======================================*/
#box1,
#box2,
#box3,
#box4 {
  width: 75px;
  height: 75px;
  background-color: magenta;
  margin: 20px;
  transition: width 2s, height 4s;
  transition: all 1s;
  border: 5px solid darkslategrey;
}
#boxes {
  display: flex;
}

#box1:hover {
  width: 275px;
  background-color: blue;
}
#box2:hover {
  height: 275px;
  opacity: 0.5;
}
#box3:hover {
  width: 300px;
  background-color: darkslategrey;
  height: 200px;
  opacity: 0.5;
  border: 5px solid magenta;
}
#box4:hover {
  transform: rotateX(180deg) rotateY(180deg) rotateZ(90deg);
}
#doggy {
  transition: all 1s;
  width: 75px;
  height: 75px;
  transform: rotate(45deg);
}
#doggy:hover {
  opacity: 0.5;
  transform: rotate(360deg) scale(1.5, 1.5);
  /* transform: scale(1.5, 1.5); */
}
#move1 {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 46px;
  background-color: chartreuse;
  border-radius: 180px;
  border: 2px solid red;
  position: relative;
  /* animation - name, duration 6 secs, delay 0s, iteration count 3 */
  animation: mymove2 6s 1s 3;
  /* animation - name duration 2s infinite */
  /* animation: mymove2 6s infinite; */
}

@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 200px;
  }
}
@keyframes mymove2 {
  0% {
    top: 0px;
    left: 0px;
    transform: rotate(0deg);
    background-color: chartreuse;
  }
  25% {
    top: 0px;
    left: 90%;
    transform: rotate(90deg);
    background-color: blue;
  }
  50% {
    top: 200px;
    left: 90%;
    transform: rotate(180deg);
    background-color: red;
  }
  75% {
    left: 0px;
    top: 200px;
    transform: rotate(270deg);
    background-color: yellow;
  }
  100% {
    top: 0px;
    left: 0px;
    transform: rotate(360deg);
    background-color: chartreuse;
  }
}
